%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#header-menu-collapse', 'aria-expanded': 'false'}
        %span.sr-only
          Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'

    #header-menu-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to 'LINK', '#'
      %ul.nav.navbar-nav.navbar-right
        - if @user_signed_in
          %li
            = button_tag 'Sign Out', type: 'button', id: 'user-sign-out-btn', class: 'btn btn-default navbar-btn'
        - else
          %li
            = button_tag 'Sign In', type: 'button', id: 'user-sign-in-btn', class: 'btn btn-default navbar-btn'
          %li
            %p.navbar-text
              or
          %li
            = button_tag 'Register', type: 'button', class: 'btn btn-default navbar-btn'

:javascript

  $('#user-sign-out-btn').click(function(e){
    $.post(
      "#{destroy_user_session_path}",
      {
        "_method":"delete"
      }
    );
  });